// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;

//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

// Theme Colors
$primary-color: #017143;
$primary-color-dark: #02a15f;
$mild-green: #017143;
$hover-green: #E0F8CE;
$lighter-primary-color: #e0f8ce;
$text-dark: #0c0a09;
$text-light: #78716c;
$white: #ffffff;

// Layout
$max-width: 1200px;
$blackColor: #2e2e2e;
$greyText: #bebebe;
$inputColor: #f8f6f7;
$textColor: #79797c;

/* Font and Typography */
$biggestFontSize: 2.5rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;
$smallestFontSize: 0.75rem;
