@import "../../../styles/variables.scss";

.navbar {
	width: 100%;
	padding: 14px;
	border-radius: 0px 0px 35px 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: $mild-green;

	.logo {
		display: flex;
		align-items: center;
		font-weight: bold;
		gap: 10px;
        color: $main-color;
        margin-left: 10px;

		img {
			width: 40px;
			height: 40px;
		}
	}

	.icons {
		display: flex;
		align-items: center;
		gap: 20px;
        margin-right: 20px;

		.icon {
			font-size: 28px;
			color: $text-dark;
			cursor: pointer;
            color: $main-color;

			&:hover {
				color: $primary-color-dark;
			}
		}

		.notification,
		.icon-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		.notification {
			span {
				background-color: red;
				color: white;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				position: absolute;
				top: -5px;
				right: -5px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 12px;
			}
		}
	}
}
